body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #636363;*/
}

.navbar {
    background-color: #333;
}

.navbar .navbar-brand img {
    height: 40px; /* Zmień rozmiar logo */
}

.navbar-nav .nav-link {
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
    background-color: #575757;
}

.courses h2, .sorting h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.courses ul {
    list-style: none;
    padding: 0;
}

.courses ul li {
    padding: 10px;
    background-color: #f8f9fa;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.courses ul li:hover {
    background-color: #e2e6ea;
}

.sorting select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

main {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
}
.card {
    height: 100%;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.technologies .badge {
    margin-right: 5px;
}

.rating {
    font-size: 0.9rem;
}

.card-img-custom {
    height: 200px;
    object-fit: cover;
}

.img-custom-layout {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-custon-layout2{
    background: 'transparent'; 
    border: 'none'; 
    box-Shadow: 'none'; 
}

.star {
    text-decoration: none;
    font-size: 24px;
    color: #ccc; /* Domyślny kolor */
}

.star-active {
    color: #ffc107; /* Aktywny kolor */
}